.logo
{
    height: 23px;
    width: 200px;
    margin-top:20px;
    margin-left: 400px;
}
.products
{
    margin-left: 620px;
    margin-top: -25px;
    color:#42526e;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.drpdown
{
    margin-left: 4px;
    list-style-type: none;
    margin-bottom: 2px;
}
.pro-drp
{
    font-family:  Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 80%;
    font-weight: 500;
}
.pro-drp:hover
{
    background-color: rgb(188, 196, 203);
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
.for-teams
{
    margin-left: 30px;
    font-family:  Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 80%;
    font-weight: 500;
}
.for-teams:hover
{
    background-color: rgb(188, 196, 203);
    border-radius: 5px;
    width: 110px;
    height: 35px;
}
.support
{
    margin-left: 30px;
    font-family:  Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 80%;
    font-weight: 500;
}
.support:hover
{
    background-color: rgb(188, 196, 203);
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
.trynow-btn
{
    background-color: #0052cc;
    color: #f4f5f7;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    border-color: #0052cc;
    cursor: pointer;
}
.trynow
{
    display: flex;
    margin-left: 1120px;
    margin-top: -28px;
}
.buynow-btn
{
    background-color: transparent;
    color: #0052cc;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.myaccount
{
  font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  color: #0052cc;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 500;
}
.content
{
    background-image: url("images/hero_left_700x450px@2x.png");
    display: -webkit-box;
}
.teamwork
{
    margin-left: 340px;
    margin-top: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 55px;
}
.right-content
{
    float:right;
}
.right-content img
{
    width: 768px; 
    height: 432px;
}
#with-team
{
    margin-left:50px;
}
.workflow
{
    font-size: 20px;
    font-family:  Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}
.atlawork
{
    font-size: 36px;
    margin-top: 100px;
    font-weight: 500;
    background-image:linear-gradient(180deg, #e6fcff, #ffffff);
    padding: 50px;
}
.btn-blue
{
    background-color: #deebff;
    color: #0065ff;
    border-radius: 50px;
    border: none;
    padding: 40px;
    width: 350px;
    font-size: 20px;
    font-weight: 700;
}
.btn-blue:focus
{
    background-color: #0065ff;
    color: #deebff;
}
.center-btn
{
    margin:10px;
}
.jointeam
{
    text-align: center;
    margin-top: 80px;
    font-weight: 500;
    font-size: 20px;
    color: #253858;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.customerstory
{
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color: #0052cc;
    text-decoration: none;
    margin-top: -2px;
}   
.social
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
.work-btn
{
    text-align: center;
}
.middle-content
{
    min-height: 80px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.team-23
{
    margin-top: 50px;
    padding: 32px 16px;

}
.lift-end
{
    background: linear-gradient(90deg, #C477D9 0.02%, #403294 20.33%, #091E42 100%);
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.lift-end img
{
    padding: 30px;
    width: 127px;
    height: 46px;
    min-width: 127px;
}
.context
{
    font-family:Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    width: 400px;
}
.register
{
    color:#FFBDF0;
    text-decoration: none;
    font-weight: 600;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;;
}
.container
{
    padding-top: 50px;
    display: flex;}
.team-essential
{
    width: 350px;
    height: 350px;
    margin-left: 450px;
    padding: 30px 10px 10px;
}
.team-essential p
{
    color: #008da6;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
}
.team-essential h2
{
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 36px;
}
.asian-community
{
    text-align: center;
    background-color: #ffebe5;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: 0.5s transform ease-in-out, 0.5s opacity ease-in-out;
    transition-delay: 0.3s;
    margin-left: 10px;
}
.asian-community img
{
    width: 740px;
    height: 220px;
    margin-bottom: 20px;
}
.asian-community-text
{
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.asian-community p
{
    line-height: 24px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
}
.search-frm
{
    text-decoration: none;
    color: #0065ff;
    font-weight: 500;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    cursor: pointer;
}
.join-com
{
    text-decoration: none;
    color: #0065ff;
    font-weight: 500;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    padding-left: 150px;
    cursor: pointer; 
}
.asian-community p
{
    margin-top: 20px;
}
.container-2
{
    display: flex;
}
.container-2 .work-life img
{
    width: 350px;
    height: 220px;
}
.work-life{
    width: 340px;
    height: auto;
    margin-left: 450px;
    padding: 30px 10px 10px;
    background-color: #eae6ff;
    margin-top: 15px;
}
.work-life-text
{
    text-align: center;
    margin-bottom: 10px;
    color:#253858;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.work-life p
{
    text-align: center;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.work-life h5
{
    text-align: center;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0052cc;
    margin-bottom: 10px;
}
.team-playbook img
{
    width: 338px;
    height: 220px;
}
.playbook
{
    width: 340px;
    height: auto;
    margin-left: 20px;
    padding: 30px 10px 10px;
    background-color: #e6fcff;
    margin-top: 15px;
}
.team-playbook p
{
    text-align: center;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.team-playbook h5
{
    text-align: center;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0052cc;
    margin-bottom: 10px;
}
.agile-coach
{
    width: 340px;
    height: auto;
    margin-left: 20px;
    padding: 30px 10px 10px;
    background-color: #deebff;
    margin-top: 15px;
}
.team-essential a
{
    text-decoration: none;
    color:#0052cc;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
}
.unleash img
{
    width: 365px;
    height: 368px;
    margin-left: 8px;
    cursor: pointer;
}
.atl-team-23 img
{
    width: 360px;
    height: 368px;
    cursor: pointer;
    margin-left: 20px;
}
.careers
{
    text-align: center;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

}
.career-container
{
    background-image: url("static/images/careers image footer right_540x450px@2x.png");
    background-position: bottom left , bottom right;
    background-repeat: no-repeat , no-repeat;
    background-size: contain , contain;
}
.career-container p
{
    margin-left: 830px;
    width: 550px;
    color:#008da6;
    font-weight: 500;
}
.career-container h3
{
    margin-left: 830px;
    width: 550px;
    font-size: 48px;
    line-height: 56px;
    color: #253858;
    font-weight: 500;
    margin-top: 0px;
}
.career-container h4
{
    width: 450px;
    margin-left: 880px;
    color: #42526e;
    font-size: 20px;
    letter-spacing: .3px;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: normal;
}
.join-team-btn
{
    background-color: #0052cc;
    color: #f4f5f7;
    width: 140px;
    height: 40px;
    padding: 0 16px;
    border-radius: 5px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    border-color: #0052cc;
    cursor: pointer;
    border: none;
    margin-left:-585px;
}
.img1
{
    width: 700px;
    height: 500px;
    float: left;
    margin-top: -150px;
}
.career-middle
{
    margin-top: 150px;
}
.img2
{
    width: 700px;
    height: 500px;
    float: right;
    margin-top: -440px;
}
.footer-main
{
    background-color: #f4f5f7;
    display: block;
    height: 450px;
}
.atls-logo
{
    color: #42526e;
    font-size: .875rem;
    line-height: 1.125;
    text-decoration: none;
    padding: 16px;
}
.row
{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
.atls-logo img
{
    width: 150px;
    height: 26px;
    margin: 25px 50px;
}
.products-footer
{
    display: grid;
    width:240px;
    height: 254px;
}
.li-pro
{
    list-style-type: none;
    margin-bottom: 5px;
}
.li-pro a
{
    text-decoration: none;
    color: #42526e;
    font-size: .875rem;
    line-height: 1.125;
    text-decoration: none;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    margin-bottom: 2px;
    list-style-type: none;
    text-transform: none;
}
.products-footer .li-pro:hover
{
    text-decoration: underline;
}
.products-footer
{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color:#42526e;
    text-transform: uppercase;
    font-weight: 700;
}
.view-pro a
{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    color:#42526e;
    font-weight: 400;
    text-decoration: none;
    color: #0052cc;
    text-transform: none;
}
.view-pro a:hover
{
    text-decoration: underline;
}
.inner-pro
{
    margin-left: 250px;
    width: 300px;
    margin-top: -80px;
}
.footer-container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-social
{
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    display: flex;
    padding: 15px;
    align-items: center;
}
.social-content
{
    padding: 15px;
}
/* .footer-social img
{
    padding: 18px;
}  */
.social-content a
{
    text-decoration: none;
    color: #42526e;
    font-size: 16px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    margin-left: 10px;
}
.social-content a:hover
{
    text-decoration: underline;
}
.copyright
{
    padding: 15px;
    margin-left: 25px;
}
.copyright a
{
    text-decoration: none;
    color: #42526e;
    font-size: 16px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    margin-left: 10px;
}
.copyright a:hover
{
    text-decoration: underline;
}
.social-icon
{
    margin-left:300px;
    padding: 15px;
    display: flex;
}
.social-icon a
{
    text-decoration: none;
    color: #42526e;
    font-size: 16px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    margin-left: 10px;
}
.social-icon a:hover
{
    text-decoration: underline;
}
