<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <style>
            table
            {
                border: 1px solid black;
                border-collapse: collapse;
            }
            td
            {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <th>A test table with mergerd cells</th>
            <tr>
                <td>e[kf[</td>
                <td><b>Average</b></td>
                <td><b>Red eyes</b></td>
                <td>fd</td>
            </tr>
            <tr>
                <td>gjh</td>
                <td>Abnd</td>
            </tr>
            <tr>
                <td>dfd</td>
                <td><b>Average</b></td>
                <td><b>Red eyes</b></td>
                <td></td>
            </tr>
            <tr>
                <td>fdfd</td>
                <td><b>Average</b></td>
                <td><b>Red eyes</b></td>
                <td>dfsf</td>
            </tr>
        </table>
    </body>
</html>